// * Style Header Typography

// Base

$header__span: (
  "used" : true,
  "margin": 0 0 1rem 0,
  "size": 16px,
  "weight": none,
  "spacing": none,
  "leading": none,
  "color": #aaaaaa,
);

$header__title: (
  "used" : true,
  "margin": 0 0 1rem 0,
  "size": 50px,
  "weight": 600,
  "spacing": none,
  "leading": none,
  "color": #1b1b1b,
);

$header__subtitle: (
  "used" : true,
  "margin": 0 0 1rem 0,
  "size": 30px,
  "weight": 600,
  "spacing": none,
  "leading": none,
  "color": #1b1b1b,
);

$header__paragraph: (
  "used" : true,
  "width": 100%,
  "max-width": 752px,
  "margin": 0.5rem auto 1.5rem auto,
  "size": 16px,
  "weight": none,
  "spacing": none,
  "leading": none,
  "color": #aaaaaa,
  "md-margin": none,
);
