// ? Style Text Color

// * Configuration

$text-gray : (
    "used" : true,
    "color" : $gray,
);

$text-red : (
    "used" : true,
    "color" : $red,
);

$text-orange : (
    "used" : true,
    "color" : $orange,
);

$text-yellow : (
    "used" : true,
    "color" : $yellow,
);

$text-green : (
    "used" : true,
    "color" : $green,
);

$text-blue : (
    "used" : true,
    "color" : $blue,
);

$text-violet : (
    "used" : true,
    "color" : $violet,
);

$text-fuchsia : (
    "used" : true,
    "color" : $fuchsia,
);

$text-black : (
    "used" : true,
    "color" : $black,
);

$text-white : (
    "used" : true,
    "color" : $white,
);

$text-light : (
    "used" : true,
    "color" : $light,
);

$text-gradient : (
    "used" : true,
    "color" : $gradient,
);

