// ? Style Icons

// * Configuration

$icon-size : 12px;

$icon-nav : (
    "used" : true,
    "size" : $icon-size,
    "color" : $black,
    "color-hover" : rgba($black, 0.8),
);

$icon-header : (
    "used" : true,
    "size" : $icon-size,
    "color" : $black,
    "color-hover" : rgba($black, 0.8),
);

$icon-article : (
    "used" : true,
    "size" : $icon-size,
    "color" : $black,
    "color-hover" : rgba($black, 0.8),
);

$icon-card : (
    "used" : true,
    "size" : $icon-size,
    "color" : $black,
    "color-hover" : rgba($black, 0.8),
);

$icon-footer : (
    "used" : true,
    "size" : $icon-size,
    "color" : $black,
    "color-hover" : rgba($black, 0.8),
);

