// ? Modifiers Style Content

// * Configuration

$article__content--small: (
  "used": true,
  "padding": 2rem 0,
);

$article__content--medium: (
  "used": true,
  "padding": 6rem 0,
);

$article__content--large: (
  "used": true,
  "padding": 8rem 0,
);
