// ? Style Spacing Box

// * Configuration

$padding-0 : (
    "used" : true,
    "padding" : 0,
    
);

$padding-8 : (
    "used" : true,
    "padding" : 0.5rem,
    
);

$padding-16 : (
    "used" : true,
    "padding" : 1rem,
    
);

$padding-24 : (
    "used" : true,
    "padding" : 1.5rem,
    
);

$padding-32 : (
    "used" : true,
    "padding" : 2rem,
    
);

$padding-64 : (
    "used" : true,
    "padding" : 4rem,
    
);

$margin-0 : (
    "used" : true,
    "margin" : 0,
);  

$marginBottom-8 : (
    "used" : true,
    "margin-bottom" : 0.5rem,
);

$marginBottom-16 : (
    "used" : true,
    "margin-bottom" : 1rem,
);

$marginBottom-24 : (
    "used" : true,
    "margin-bottom" : 1.5rem,
);

$marginBottom-32 : (
    "used" : true,
    "margin-bottom" : 2rem,
);

$marginBottom-64 : (
    "used" : true,
    "margin-bottom" : 4rem,
);








